.user_container{
  width: 90vh;
  margin: 0 auto;
}

.name_container{
  position: relative;
}

.author_icon{
  position: absolute;
  left: 0;
  bottom: 0;
  top: 10px;
  right: 0;
  fill: crimson;
}

.no_review{
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 32px;
  margin-top: 32px;
}

.author_name{
  color: crimson;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-left: 50px;
  padding-top: 20px;
}

.author_review{
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 16px;
  width: 960px;
}