.error{
  color: maroon;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.desire{
  color: maroon;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 32px;
  font-weight: 500;
}