.hero{
    background: url('/images/Hero.png');
    height: 930px;
    width: 100%;
}

.description_box{
    padding: 340px 0 420px 70px;
}

.hero_article{
    font-size: 48px;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    width: 524px;
    margin-bottom: 60px;
}

.hero_btn{
    background-color: crimson;
    padding: 10px 34px;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.hero_btn:hover{
    background-color: rgb(177, 19, 51);
}

.hero_btn:active{
    transform: translateY(5px);
}