.navigation{
    display: flex;
}

.header_logo{
    margin-right: 56px;
}

.categoriesList{
    display: flex;
    list-style-type: none;
    gap: 64px;
}

.categoryElement{
    font-size: 24px;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    border-radius: 30px;
}

.categoryElement:hover{
    padding: 10px 34px;
    border: none;
    background-color: crimson;
}

.active{
    padding: 10px 34px;
    border: none;
    background-color: crimson;
}